RABBITMQ_HOST=localhost
RABBITMQ_PORT=5672
RABBITMQ_USER=guest
RABBITMQ_PASSWORD=guest
RABBITMQ_VHOST=/
RABBITMQ_QUEUE=json_files

GCP_PROJECT_ID=meu-projeto-gcp
GCP_TOPIC_ID=meu-topico
GOOGLE_APPLICATION_CREDENTIALS=/caminho/para/service-account.json
